In [ ]:
### Pre-processing of data on rainfall amount

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

In [139]:
import pandas as pd

RFPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Peru.xls"
RFP=pd.read_excel(RFPdata)

RAINFALL

In [140]:
RFPclean=RFP.drop(columns=[' ISO3', ' ISO2'])
RFPclean

           pr  \tYear   Month  Country
0    110.7720    1991       1      PER
1    149.8710    1991       2      PER
2    180.9780    1991       3      PER
3    113.0370    1991       4      PER
4    122.3220    1991       5      PER
5    104.7460    1991       6      PER
6     35.2588    1991       7      PER
7     51.8483    1991       8      PER
8     88.4582    1991       9      PER
9     98.1672    1991      10      PER
10   142.3550    1991      11      PER
11   103.6000    1991      12      PER
12   108.7610    1992       1      PER
13   128.3800    1992       2      PER
14   157.7920    1992       3      PER
15   112.8990    1992       4      PER
16    55.7750    1992       5      PER
17    57.1915    1992       6      PER
18    68.9449    1992       7      PER
19   106.4590    1992       8      PER
20   125.3000    1992       9      PER
21   103.7470    1992      10      PER
22   129.0480    1992      11      PER
23   155.4120    1992      12      PER
24   255.5960    1993       1      PER
25   143.0690    1993       2      PER
26   208.5180    1993       3      PER
27   184.8360    1993       4      PER
28   103.7290    1993       5      PER
29    59.8479    1993       6      PER
..        ...     ...     ...      ...
270   75.5839    2013       7      PER
271   78.4017    2013       8      PER
272   74.5302    2013       9      PER
273  145.3160    2013      10      PER
274  143.2180    2013      11      PER
275  152.0900    2013      12      PER
276  159.0640    2014       1      PER
277  149.2600    2014       2      PER
278  193.8480    2014       3      PER
279  172.6720    2014       4      PER
280   91.7503    2014       5      PER
281   74.1397    2014       6      PER
282   71.6753    2014       7      PER
283   77.6913    2014       8      PER
284   83.2653    2014       9      PER
285  108.8530    2014      10      PER
286  127.2600    2014      11      PER
287  174.0690    2014      12      PER
288  154.3840    2015       1      PER
289  182.3060    2015       2      PER
290  187.5390    2015       3      PER
291  179.8370    2015       4      PER
292  109.1790    2015       5      PER
293   68.5707    2015       6      PER
294  102.3850    2015       7      PER
295   58.2170    2015       8      PER
296   57.6487    2015       9      PER
297   64.1029    2015      10      PER
298   99.1171    2015      11      PER
299  151.3360    2015      12      PER

[300 rows x 4 columns]

In [141]:
RFPclean.columns

Index(['pr', '\tYear', ' Month', ' Country'], dtype='object')

In [142]:
newnames=['rainfall', 'year', 'month', 'country']
newRFPnames={old:new for old,new in zip(RFPclean,newnames)}
RFPclean.rename(columns=newRFPnames,inplace=True)
RFPclean

     rainfall  year  month country
0    110.7720  1991      1     PER
1    149.8710  1991      2     PER
2    180.9780  1991      3     PER
3    113.0370  1991      4     PER
4    122.3220  1991      5     PER
5    104.7460  1991      6     PER
6     35.2588  1991      7     PER
7     51.8483  1991      8     PER
8     88.4582  1991      9     PER
9     98.1672  1991     10     PER
10   142.3550  1991     11     PER
11   103.6000  1991     12     PER
12   108.7610  1992      1     PER
13   128.3800  1992      2     PER
14   157.7920  1992      3     PER
15   112.8990  1992      4     PER
16    55.7750  1992      5     PER
17    57.1915  1992      6     PER
18    68.9449  1992      7     PER
19   106.4590  1992      8     PER
20   125.3000  1992      9     PER
21   103.7470  1992     10     PER
22   129.0480  1992     11     PER
23   155.4120  1992     12     PER
24   255.5960  1993      1     PER
25   143.0690  1993      2     PER
26   208.5180  1993      3     PER
27   184.8360  1993      4     PER
28   103.7290  1993      5     PER
29    59.8479  1993      6     PER
..        ...   ...    ...     ...
270   75.5839  2013      7     PER
271   78.4017  2013      8     PER
272   74.5302  2013      9     PER
273  145.3160  2013     10     PER
274  143.2180  2013     11     PER
275  152.0900  2013     12     PER
276  159.0640  2014      1     PER
277  149.2600  2014      2     PER
278  193.8480  2014      3     PER
279  172.6720  2014      4     PER
280   91.7503  2014      5     PER
281   74.1397  2014      6     PER
282   71.6753  2014      7     PER
283   77.6913  2014      8     PER
284   83.2653  2014      9     PER
285  108.8530  2014     10     PER
286  127.2600  2014     11     PER
287  174.0690  2014     12     PER
288  154.3840  2015      1     PER
289  182.3060  2015      2     PER
290  187.5390  2015      3     PER
291  179.8370  2015      4     PER
292  109.1790  2015      5     PER
293   68.5707  2015      6     PER
294  102.3850  2015      7     PER
295   58.2170  2015      8     PER
296   57.6487  2015      9     PER
297   64.1029  2015     10     PER
298   99.1171  2015     11     PER
299  151.3360  2015     12     PER

[300 rows x 4 columns]

In [143]:
RFPclean['country']=RFPclean['country'].replace(['PER'], 'Peru')
Years = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
RFPclean = RFPclean[RFPclean.year.isin(Years)]
RFPclean

     rainfall  year  month country
180  232.7470  2006      1    Peru
181  198.3800  2006      2    Peru
182  209.4350  2006      3    Peru
183  160.2090  2006      4    Peru
184  133.9840  2006      5    Peru
185  125.1930  2006      6    Peru
186   55.9922  2006      7    Peru
187   84.1931  2006      8    Peru
188   60.5310  2006      9    Peru
189  127.3150  2006     10    Peru
190  186.8030  2006     11    Peru
191  189.8260  2006     12    Peru
192  170.3720  2007      1    Peru
193  143.0980  2007      2    Peru
194  228.5030  2007      3    Peru
195  153.2510  2007      4    Peru
196  163.1200  2007      5    Peru
197   58.0746  2007      6    Peru
198   73.7088  2007      7    Peru
199   63.3430  2007      8    Peru
200   84.3281  2007      9    Peru
201  138.6790  2007     10    Peru
202  204.6200  2007     11    Peru
203  167.0670  2007     12    Peru
204  256.5930  2008      1    Peru
205  241.1080  2008      2    Peru
206  211.8710  2008      3    Peru
207  140.2280  2008      4    Peru
208   98.5092  2008      5    Peru
209   83.9600  2008      6    Peru
..        ...   ...    ...     ...
270   75.5839  2013      7    Peru
271   78.4017  2013      8    Peru
272   74.5302  2013      9    Peru
273  145.3160  2013     10    Peru
274  143.2180  2013     11    Peru
275  152.0900  2013     12    Peru
276  159.0640  2014      1    Peru
277  149.2600  2014      2    Peru
278  193.8480  2014      3    Peru
279  172.6720  2014      4    Peru
280   91.7503  2014      5    Peru
281   74.1397  2014      6    Peru
282   71.6753  2014      7    Peru
283   77.6913  2014      8    Peru
284   83.2653  2014      9    Peru
285  108.8530  2014     10    Peru
286  127.2600  2014     11    Peru
287  174.0690  2014     12    Peru
288  154.3840  2015      1    Peru
289  182.3060  2015      2    Peru
290  187.5390  2015      3    Peru
291  179.8370  2015      4    Peru
292  109.1790  2015      5    Peru
293   68.5707  2015      6    Peru
294  102.3850  2015      7    Peru
295   58.2170  2015      8    Peru
296   57.6487  2015      9    Peru
297   64.1029  2015     10    Peru
298   99.1171  2015     11    Peru
299  151.3360  2015     12    Peru

[120 rows x 4 columns]

In [144]:
RFPclean.reset_index(drop=True)

     rainfall  year  month country
0    232.7470  2006      1    Peru
1    198.3800  2006      2    Peru
2    209.4350  2006      3    Peru
3    160.2090  2006      4    Peru
4    133.9840  2006      5    Peru
5    125.1930  2006      6    Peru
6     55.9922  2006      7    Peru
7     84.1931  2006      8    Peru
8     60.5310  2006      9    Peru
9    127.3150  2006     10    Peru
10   186.8030  2006     11    Peru
11   189.8260  2006     12    Peru
12   170.3720  2007      1    Peru
13   143.0980  2007      2    Peru
14   228.5030  2007      3    Peru
15   153.2510  2007      4    Peru
16   163.1200  2007      5    Peru
17    58.0746  2007      6    Peru
18    73.7088  2007      7    Peru
19    63.3430  2007      8    Peru
20    84.3281  2007      9    Peru
21   138.6790  2007     10    Peru
22   204.6200  2007     11    Peru
23   167.0670  2007     12    Peru
24   256.5930  2008      1    Peru
25   241.1080  2008      2    Peru
26   211.8710  2008      3    Peru
27   140.2280  2008      4    Peru
28    98.5092  2008      5    Peru
29    83.9600  2008      6    Peru
..        ...   ...    ...     ...
90    75.5839  2013      7    Peru
91    78.4017  2013      8    Peru
92    74.5302  2013      9    Peru
93   145.3160  2013     10    Peru
94   143.2180  2013     11    Peru
95   152.0900  2013     12    Peru
96   159.0640  2014      1    Peru
97   149.2600  2014      2    Peru
98   193.8480  2014      3    Peru
99   172.6720  2014      4    Peru
100   91.7503  2014      5    Peru
101   74.1397  2014      6    Peru
102   71.6753  2014      7    Peru
103   77.6913  2014      8    Peru
104   83.2653  2014      9    Peru
105  108.8530  2014     10    Peru
106  127.2600  2014     11    Peru
107  174.0690  2014     12    Peru
108  154.3840  2015      1    Peru
109  182.3060  2015      2    Peru
110  187.5390  2015      3    Peru
111  179.8370  2015      4    Peru
112  109.1790  2015      5    Peru
113   68.5707  2015      6    Peru
114  102.3850  2015      7    Peru
115   58.2170  2015      8    Peru
116   57.6487  2015      9    Peru
117   64.1029  2015     10    Peru
118   99.1171  2015     11    Peru
119  151.3360  2015     12    Peru

[120 rows x 4 columns]

In [145]:
RFPclean.to_csv("PeruRainfallFinal.csv",index=None)