In [30]:
print('hello world')

hello world

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

In [31]:
#get the correct package for data structures
#link/load the raw data files


import pandas as pd

#Peru
TPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data%20Original/Temp_Peru.xls"
TP=pd.read_excel(TPdata)

In [32]:
TP.shape

(300, 6)

In [33]:
TP
#check it out!

         tas  \tYear   Month  Country   ISO3   ISO2
0    19.9068    1991       1      PER    NaN    NaN
1    20.1518    1991       2      PER    NaN    NaN
2    20.1453    1991       3      PER    NaN    NaN
3    20.0942    1991       4      PER    NaN    NaN
4    19.5744    1991       5      PER    NaN    NaN
5    18.8246    1991       6      PER    NaN    NaN
6    18.2285    1991       7      PER    NaN    NaN
7    17.9892    1991       8      PER    NaN    NaN
8    19.3474    1991       9      PER    NaN    NaN
9    19.6034    1991      10      PER    NaN    NaN
10   19.8240    1991      11      PER    NaN    NaN
11   20.4750    1991      12      PER    NaN    NaN
12   20.9506    1992       1      PER    NaN    NaN
13   20.7916    1992       2      PER    NaN    NaN
14   20.9657    1992       3      PER    NaN    NaN
15   20.8950    1992       4      PER    NaN    NaN
16   20.6799    1992       5      PER    NaN    NaN
17   19.2458    1992       6      PER    NaN    NaN
18   17.6862    1992       7      PER    NaN    NaN
19   18.7134    1992       8      PER    NaN    NaN
20   18.8314    1992       9      PER    NaN    NaN
21   19.5663    1992      10      PER    NaN    NaN
22   19.8571    1992      11      PER    NaN    NaN
23   19.7845    1992      12      PER    NaN    NaN
24   19.9418    1993       1      PER    NaN    NaN
25   20.2341    1993       2      PER    NaN    NaN
26   20.1286    1993       3      PER    NaN    NaN
27   19.9520    1993       4      PER    NaN    NaN
28   19.7486    1993       5      PER    NaN    NaN
29   19.0334    1993       6      PER    NaN    NaN
..       ...     ...     ...      ...    ...    ...
270  17.8101    2013       7      PER    NaN    NaN
271  18.2066    2013       8      PER    NaN    NaN
272  19.5468    2013       9      PER    NaN    NaN
273  19.6918    2013      10      PER    NaN    NaN
274  19.9322    2013      11      PER    NaN    NaN
275  20.2307    2013      12      PER    NaN    NaN
276  20.2443    2014       1      PER    NaN    NaN
277  20.0607    2014       2      PER    NaN    NaN
278  19.9140    2014       3      PER    NaN    NaN
279  19.7868    2014       4      PER    NaN    NaN
280  19.9366    2014       5      PER    NaN    NaN
281  19.4495    2014       6      PER    NaN    NaN
282  18.4419    2014       7      PER    NaN    NaN
283  18.7700    2014       8      PER    NaN    NaN
284  19.6347    2014       9      PER    NaN    NaN
285  19.9489    2014      10      PER    NaN    NaN
286  20.3996    2014      11      PER    NaN    NaN
287  20.1064    2014      12      PER    NaN    NaN
288  19.8736    2015       1      PER    NaN    NaN
289  20.5103    2015       2      PER    NaN    NaN
290  20.2532    2015       3      PER    NaN    NaN
291  20.0185    2015       4      PER    NaN    NaN
292  20.0984    2015       5      PER    NaN    NaN
293  19.7564    2015       6      PER    NaN    NaN
294  19.0715    2015       7      PER    NaN    NaN
295  20.1966    2015       8      PER    NaN    NaN
296  20.8076    2015       9      PER    NaN    NaN
297  20.8017    2015      10      PER    NaN    NaN
298  21.0716    2015      11      PER    NaN    NaN
299  20.7846    2015      12      PER    NaN    NaN

[300 rows x 6 columns]

In [34]:
#drop columns we don't need-- the columns with irrelevant and/or NaN values
Tclean=TP.drop(columns=[' ISO3', ' ISO2'])

In [35]:
#check the shape to see if those columns got dropped. 
Tclean.shape

(300, 4)

In [36]:
#re-name the column headers
#we do this by first creating a list with the names we want
#then use a zip function to zip these values into a dict where the name we want references the names we want to replace. 
#then replace, via a rename function, the values we want in place of the values we want to replace
#remember to do this inplace! 

Tnewnames=['temperature', 'year', 'month', 'country']
Tnew={old:new for old,new in zip(Tclean,Tnewnames)}
Tclean.rename(columns=Tnew,inplace=True)
Tclean

     temperature  year  month country
0        19.9068  1991      1     PER
1        20.1518  1991      2     PER
2        20.1453  1991      3     PER
3        20.0942  1991      4     PER
4        19.5744  1991      5     PER
5        18.8246  1991      6     PER
6        18.2285  1991      7     PER
7        17.9892  1991      8     PER
8        19.3474  1991      9     PER
9        19.6034  1991     10     PER
10       19.8240  1991     11     PER
11       20.4750  1991     12     PER
12       20.9506  1992      1     PER
13       20.7916  1992      2     PER
14       20.9657  1992      3     PER
15       20.8950  1992      4     PER
16       20.6799  1992      5     PER
17       19.2458  1992      6     PER
18       17.6862  1992      7     PER
19       18.7134  1992      8     PER
20       18.8314  1992      9     PER
21       19.5663  1992     10     PER
22       19.8571  1992     11     PER
23       19.7845  1992     12     PER
24       19.9418  1993      1     PER
25       20.2341  1993      2     PER
26       20.1286  1993      3     PER
27       19.9520  1993      4     PER
28       19.7486  1993      5     PER
29       19.0334  1993      6     PER
..           ...   ...    ...     ...
270      17.8101  2013      7     PER
271      18.2066  2013      8     PER
272      19.5468  2013      9     PER
273      19.6918  2013     10     PER
274      19.9322  2013     11     PER
275      20.2307  2013     12     PER
276      20.2443  2014      1     PER
277      20.0607  2014      2     PER
278      19.9140  2014      3     PER
279      19.7868  2014      4     PER
280      19.9366  2014      5     PER
281      19.4495  2014      6     PER
282      18.4419  2014      7     PER
283      18.7700  2014      8     PER
284      19.6347  2014      9     PER
285      19.9489  2014     10     PER
286      20.3996  2014     11     PER
287      20.1064  2014     12     PER
288      19.8736  2015      1     PER
289      20.5103  2015      2     PER
290      20.2532  2015      3     PER
291      20.0185  2015      4     PER
292      20.0984  2015      5     PER
293      19.7564  2015      6     PER
294      19.0715  2015      7     PER
295      20.1966  2015      8     PER
296      20.8076  2015      9     PER
297      20.8017  2015     10     PER
298      21.0716  2015     11     PER
299      20.7846  2015     12     PER

[300 rows x 4 columns]

In [37]:
#replace the PER values with Peru
Tclean['country']=Tclean['country'].replace(['PER'], 'Peru')

In [38]:
#limit the data to only inlcude the years of interest, 2006-2015
years=['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
Tclean = Tclean[Tclean.year.isin(years)]
Tclean

     temperature  year  month country
180      20.1541  2006      1    Peru
181      20.0151  2006      2    Peru
182      20.4858  2006      3    Peru
183      19.7383  2006      4    Peru
184      18.8578  2006      5    Peru
185      18.8404  2006      6    Peru
186      18.8449  2006      7    Peru
187      18.9065  2006      8    Peru
188      19.7259  2006      9    Peru
189      19.9284  2006     10    Peru
190      20.2192  2006     11    Peru
191      20.1270  2006     12    Peru
192      20.7907  2007      1    Peru
193      20.4360  2007      2    Peru
194      19.9066  2007      3    Peru
195      19.9124  2007      4    Peru
196      18.6420  2007      5    Peru
197      18.0462  2007      6    Peru
198      17.8863  2007      7    Peru
199      18.3386  2007      8    Peru
200      18.8850  2007      9    Peru
201      19.1255  2007     10    Peru
202      19.6678  2007     11    Peru
203      19.4978  2007     12    Peru
204      19.8403  2008      1    Peru
205      19.9431  2008      2    Peru
206      19.9045  2008      3    Peru
207      19.5512  2008      4    Peru
208      18.5339  2008      5    Peru
209      18.0356  2008      6    Peru
..           ...   ...    ...     ...
270      17.8101  2013      7    Peru
271      18.2066  2013      8    Peru
272      19.5468  2013      9    Peru
273      19.6918  2013     10    Peru
274      19.9322  2013     11    Peru
275      20.2307  2013     12    Peru
276      20.2443  2014      1    Peru
277      20.0607  2014      2    Peru
278      19.9140  2014      3    Peru
279      19.7868  2014      4    Peru
280      19.9366  2014      5    Peru
281      19.4495  2014      6    Peru
282      18.4419  2014      7    Peru
283      18.7700  2014      8    Peru
284      19.6347  2014      9    Peru
285      19.9489  2014     10    Peru
286      20.3996  2014     11    Peru
287      20.1064  2014     12    Peru
288      19.8736  2015      1    Peru
289      20.5103  2015      2    Peru
290      20.2532  2015      3    Peru
291      20.0185  2015      4    Peru
292      20.0984  2015      5    Peru
293      19.7564  2015      6    Peru
294      19.0715  2015      7    Peru
295      20.1966  2015      8    Peru
296      20.8076  2015      9    Peru
297      20.8017  2015     10    Peru
298      21.0716  2015     11    Peru
299      20.7846  2015     12    Peru

[120 rows x 4 columns]

In [39]:
#reset the index to start at 0!
Tclean.reset_index(drop=True)

     temperature  year  month country
0        20.1541  2006      1    Peru
1        20.0151  2006      2    Peru
2        20.4858  2006      3    Peru
3        19.7383  2006      4    Peru
4        18.8578  2006      5    Peru
5        18.8404  2006      6    Peru
6        18.8449  2006      7    Peru
7        18.9065  2006      8    Peru
8        19.7259  2006      9    Peru
9        19.9284  2006     10    Peru
10       20.2192  2006     11    Peru
11       20.1270  2006     12    Peru
12       20.7907  2007      1    Peru
13       20.4360  2007      2    Peru
14       19.9066  2007      3    Peru
15       19.9124  2007      4    Peru
16       18.6420  2007      5    Peru
17       18.0462  2007      6    Peru
18       17.8863  2007      7    Peru
19       18.3386  2007      8    Peru
20       18.8850  2007      9    Peru
21       19.1255  2007     10    Peru
22       19.6678  2007     11    Peru
23       19.4978  2007     12    Peru
24       19.8403  2008      1    Peru
25       19.9431  2008      2    Peru
26       19.9045  2008      3    Peru
27       19.5512  2008      4    Peru
28       18.5339  2008      5    Peru
29       18.0356  2008      6    Peru
..           ...   ...    ...     ...
90       17.8101  2013      7    Peru
91       18.2066  2013      8    Peru
92       19.5468  2013      9    Peru
93       19.6918  2013     10    Peru
94       19.9322  2013     11    Peru
95       20.2307  2013     12    Peru
96       20.2443  2014      1    Peru
97       20.0607  2014      2    Peru
98       19.9140  2014      3    Peru
99       19.7868  2014      4    Peru
100      19.9366  2014      5    Peru
101      19.4495  2014      6    Peru
102      18.4419  2014      7    Peru
103      18.7700  2014      8    Peru
104      19.6347  2014      9    Peru
105      19.9489  2014     10    Peru
106      20.3996  2014     11    Peru
107      20.1064  2014     12    Peru
108      19.8736  2015      1    Peru
109      20.5103  2015      2    Peru
110      20.2532  2015      3    Peru
111      20.0185  2015      4    Peru
112      20.0984  2015      5    Peru
113      19.7564  2015      6    Peru
114      19.0715  2015      7    Peru
115      20.1966  2015      8    Peru
116      20.8076  2015      9    Peru
117      20.8017  2015     10    Peru
118      21.0716  2015     11    Peru
119      20.7846  2015     12    Peru

[120 rows x 4 columns]

In [40]:
#Create a new file out of our cleaned data and we're done
Tclean.to_csv("PeruTemperatureFinal.csv",index=None)